<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/arduino-light.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{{templateAssetFolder}}}/default.css" />
    {{#if (includes meta.progLang "scratch")}}
    <link rel="stylesheet" href="{{{templateAssetFolder}}}/scratchblocks.css" />
    {{/if}}
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/katex.min.css"
      integrity="sha384-Wsr4Nh3yrvMf2KCebJchRJoVo1gTU6kcP05uRSh5NV3sj9+a8IomuJoQzf3sMq4T"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/katex.min.js"
      integrity="sha384-+W9OcrYK2/bD7BmUAk+xeFAyKp0QjyRQUCxeU31dfyTt/FrPsUgaBTLLkVf33qWt"
      crossorigin="anonymous"
    ></script>
    <style>

      @media print {
        body {
        background-image: 
          url("{{{templateAssetFolder}}}/{{{meta.theme}}}/left.svg"), 
          url("{{{templateAssetFolder}}}/{{{meta.theme}}}/right.svg");
          background-size: 15px, 15px;
          background-repeat: repeat-y, repeat-y;
          background-position: left, right;
          margin: 0px;
        }
      }

      @media screen {
        body {
        background-image: 
          url("{{{templateAssetFolder}}}/{{{meta.theme}}}/left.svg"), 
          url("{{{templateAssetFolder}}}/{{{meta.theme}}}/right.svg");
          background-size: 15px 100%, 15px 100%;
          background-repeat: no-repeat, no-repeat;
          background-position: left, right;
          margin: 0px;
        }
      }
      
        .header {
          background-image: url("{{{templateAssetFolder}}}/{{{meta.theme}}}/top.svg");
          background-size: 100% 15px;
          background-repeat: no-repeat;
          width: 100%;
          min-height: 15px;
        }

        .footer {
          background-image: url("{{{templateAssetFolder}}}/{{{meta.theme}}}/bottom.svg");
          background-size: 100% 15px;
          background-repeat: no-repeat;
          width: 100%;
          min-height: 15px;
        }
        .separator-fat {
          display: block;
          background-image: url("{{{templateAssetFolder}}}/{{{meta.theme}}}/separator.svg");
          background-size: 100% 10px;
          background-repeat: no-repeat;
          height: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
          clear: both;
        }
    </style>
  </head>

  <body>
    {{#if meta.progLang}}
      <img
        src="{{{templateAssetFolder}}}/logo-{{{meta.progLang}}}.png"
        class="language-logo"
      />
    {{/if}}
    <div class="header">
      <div class="header-content">
        <div style="padding-top: 20px; padding-left: 30px; max-height: 50px">
          <img
            src="{{{templateAssetFolder}}}/logo-coderdojo-nl.png"
            style="width: 250px; position: relative"
          />
          <img
            src="{{{templateAssetFolder}}}/logo-zoetermeer.png"
            style="width: 250px; position: relative; right: 30px; float: right"
          />
        </div>
      </div>

      <div style="padding-left: 30px; padding-right: 30px">
        <div class="separator-fat"></div>
      </div>
    </div>

    <table style="width: 100%">
      <thead>
        <tr>
          <th>
            <div class="header-space"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="assignment-content">
              {{#if meta.level}}
                <img
                  src="{{{templateAssetFolder}}}/level{{meta.level}}.svg"
                  style="width: 200px; float: right; margin-right: 0px"
                />
              {{/if}}
              <p class="assignment-title">{{{meta.title}}}</p>

              <div style="display: flex; flex-direction: row; gap: 0px 10px">
                {{#each meta.infoBlocks}}
                  <div class="header-info-block">
                    <div class="header-info-title">{{{title}}}</div>
                    {{{renderMarkdown content}}}
                  </div>
                {{/each}}
              </div>

              {{{content}}}

              <hr>

              <img
                src="{{{templateAssetFolder}}}/by-nc-sa.png"
                style="width: 117px; height: 41px; float: right"
              />
              <div class="license">

                <p><b>[NL] Licentie Informatie</b></p>
                <p>
                  Voor al het materiaal in document geldt de licentie: Creative
                  Commons Naamsvermelding-NietCommercieel-GelijkDelen 3.0
                  <a
                    href="https://creativecommons.org/licenses/by-nc-sa/3.0/"
                  >https://creativecommons.org/licenses/by-nc-sa/3.0/</a>.

                </p>
                <p>
                  Indien u toegang wilt tot de raw bewerkbare files om het
                  materiaal naar uw eigen doel aan te passen, ons te helpen het
                  materiaal te verbeteren, of het materiaal te vertalen, neem
                  dan contact met CoderDojo Zoetermeer
                  <a
                    href="https://codeclub.org/en/clubs/4f8d36fb-7545-4ba9-b9fb-b379b6b87938"
                  >https://codeclub.org/en/clubs/4f8d36fb-7545-4ba9-b9fb-b379b6b87938</a>
                </p>

              </div>

              <div class="license">
                <p><b>[EN] License Information</b></p>
                <p>
                  All work in this document are licensed under the Creative
                  Commons Attribution-NonCommercial-ShareAlike 3.0
                  <a
                    href="https://creativecommons.org/licenses/by-nc-sa/3.0/"
                  >https://creativecommons.org/licenses/by-nc-sa/3.0/</a>.

                </p>
                <p>
                  If you wish to gain access to the raw editable files in order
                  to adapt our content to your own purposes, help us improve the
                  content, or translate it, then please contact CoderDojo
                  Zoetermeer
                  <a
                    href="https://codeclub.org/en/clubs/4f8d36fb-7545-4ba9-b9fb-b379b6b87938"
                  >https://codeclub.org/en/clubs/4f8d36fb-7545-4ba9-b9fb-b379b6b87938</a>
                  .
                </p>
              </div>
              <div class="acknowledgements">
                <em>Acknowledgements:</em>
                <div style="padding-left: 20px;">
                    {{#each meta.acknowledgements}}
                      <p>{{@key}}: {{{this}}}</p>
                    {{/each}}
                    
                  <p>This document was created by CoderDojo Zoetermeer. The template
                    design was inspired by the CoderDojo branding and visual
                    identity, and incorporates elements from both organizations.
                    We would like to thank CoderDojo Nederland for their
                    their ongoing support of the CoderDojo community.</p>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>
            <div class="footer-space"></div>
          </th>
        </tr>
      </tfoot>
    </table>

    <div class="footer"></div>

    <script>
      const inactive = tab => tab.classList.remove('active')
      const active = tab => tab.classList.add('active')
      const tabClick = tab => tab.addEventListener('click', listener)

      const listener = (event) => {
        // id for the clicked button
        const tabId = event.target.getAttribute('data-id')
        // the parent container's id
        const containerId = event.target.parentElement.parentElement.getAttribute('data-id')
        // syntax sugar for self
        const parentQuery = `.tabs-tabs-wrapper[data-id=${containerId}]`

        // Set everything in this parent container to inactive
        document.querySelectorAll(`${parentQuery} .tabs-tab-content`).forEach(inactive)
        document.querySelectorAll(`${parentQuery} .tabs-tabs-header button`).forEach(inactive)

        // Set the tab id's items to active
        document.querySelectorAll(`[data-id=${tabId}]`).forEach(active)
      }

      // Set it up for all my homies (multiple tabs)
      document.querySelectorAll('.tabs-tabs-header button').forEach(tabClick)
    </script>
  </body>
</html>